// @import "../../variables";

.info-block {
  $icon-size: 20px;
  display: block;
  padding-left: $icon-size + 10;
  position: relative;
  margin-bottom: 20px;
  font-size: $icon-size - 6;
  color: $info-blue;
  &:before {
    content: "i";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: $info-blue;
    text-align: center;
    font-size: $icon-size * 0.75;
    font-weight: bold;
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    color: #fff;
  }
}
